.overlay {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  background: var(--gray-translucent);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 90%;
  padding: 1rem 1.25rem 1.5rem 1.75rem;
  background: var(--bg-color-translucent);
  box-shadow: 0.25rem 0.25rem var(--fg-color-translucent);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--gray-04);
}

.content {
  width: 100%;
}

.date {
  font-size: small;
  color: var(--gray-04);
  text-transform: capitalize;
}

.options_nav {
  display: flex;
}

.nav_button {
  width: 2rem;
  height: 2rem;
}

@media screen and (orientation: landscape) {
  .container {
    width: calc(var(--landscape-width) * 0.9);
    min-width: 18rem;
  }

  .button:hover {
    color: var(--gray-03);
  }
}
