@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

:root {
  --white: #ececec;
  --black: #0c0c0c;
  --red: #a81c24;
  --green: #4fb34b;
  --gray-light: #e1e1e1;
  --gray-medium: #9f9f9f;
  --gray-dark: #555555;
  --white-transluscent: #ecececec;

  --landscape-width: 20%;
}

html * {
  outline: none;
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;

  /* border: 1px dotted var(--gray-medium); */
}

button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

*::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-medium);
  border-radius: 0.5rem;
  border: 0.25rem solid var(--white);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--default-font);
  font-weight: var(--default-regular);
  color: var(--black);
  font-size: 0.9rem;

  scrollbar-width: thin;
  scrollbar-color: var(--gray-medium) var(--white);
}

.outer_container {
  width: 100svw;
  min-height: 100svh;
  padding: 1rem;

  background-image: linear-gradient(var(--white), var(--gray-light));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

header,
main,
footer {
  width: 100%;
  display: flex;
}

h1 {
  font-size: inherit;
  font-weight: var(--default-light);
}

h1 span {
  font-weight: var(--default-bold);
}

a.text_link {
  color: var(--gray-dark);
  text-decoration: underline solid var(--gray-medium) 1px;
}

header {
  align-items: baseline;
  justify-content: space-between;
  font-size: 2rem;
}

footer {
  margin-top: 1rem;
  justify-content: end;
  font-size: smaller;
  gap: 0.5rem;
}

@media screen and (orientation: landscape) {
  a.text_link:hover {
    color: var(--gray-medium);
    cursor: default;
  }

  header,
  main,
  footer {
    min-width: 20rem;
    width: var(--landscape-width);
  }
}
