.title {
  display: flex;
  gap: 0.5rem;
}

.title_logo {
  width: 2rem;
}

.add_icon {
  width: 1.7rem;
  font-size: smaller;
  color: var(--gray-dark);
}

.tasklist {
  width: 100%;
  display: flex;
}

.tasklist {
  flex-direction: column;
  gap: 0.5rem;
}

/*  */

.task_input_wrapper {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.task_input {
  flex: 1;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--gray-medium);
  font-family: var(--default-font);
  font-weight: var(--default-regular);
  font-size: 0.9rem;
  color: var(--gray-dark);
}

.task_input_icon {
  width: 1.1rem;
  font-size: larger;
  color: var(--gray-dark);
}

.separator_icon {
  width: 0.65rem;
  font-size: x-small;
}

@media screen and (orientation: landscape) {
  .add_icon:hover,
  .task_input_icon:hover {
    color: var(--gray-medium);
    cursor: default;
  }
}
