.task_form {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  margin-top: -4px;
}

.task_input {
  flex: 1;
  border-bottom: 1px solid var(--gray-03);
  font-family: var(--default-font);
  font-weight: var(--default-regular);
  color: var(--gray-04);
}

.task_input_icon {
  font-size: larger;
  color: var(--gray-04);
}

@media screen and (orientation: landscape) {
  .task_input:hover {
    cursor: text;
  }

  .task_input_icon:hover {
    color: var(--gray-03);
    cursor: default;
  }
}
