.overlay {
  width: 100svw;
  height: 100svh;
  padding-top: 4rem;
  background: var(--gray-translucent);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 90%;
  padding: 1rem 2rem 1rem 1rem;
  position: relative;
  background: var(--white-translucent);
  box-shadow: 0.25rem 0.25rem var(--black-translucent);
}

.close {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  color: var(--gray-dark);
}

.content {
  width: 100%;
  min-height: 0.9rem;
}

@media screen and (orientation: landscape) {
  .container {
    width: calc(var(--landscape-width) - 2rem);
    min-width: 18rem;
  }

  .close:hover {
    color: var(--gray-medium);
    cursor: pointer;
  }
}
