.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.5rem;
}

.quote {
  color: var(--gray-03);
  font-size: 1.25rem;
}

.quote:first-of-type {
  align-self: flex-start;
}

.quote:last-of-type {
  align-self: flex-end;
}

.confirm_delete {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.delete_text {
  display: flex;
  font-weight: var(--default-bold);
  gap: 0.25rem;
}

.delete_buttons {
  display: flex;
  gap: 0.5rem;
}

.delete_button {
  color: var(--gray-04);
  font-size: 1.25rem;
}

.delete_button:focus {
  background: var(--gray-02);
}

@media screen and (orientation: landscape) {
  .delete_button:hover {
    color: var(--gray-03);
  }
}
