.task {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.task_icons,
.task_options {
  display: flex;
  gap: 0.1rem;
}

.task_icon {
  width: 1rem;
  color: var(--gray-04);
}

.task_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_starred {
  font-weight: var(--default-bold);
}

.task_completed * {
  color: var(--gray-03);
}

.task_completed > .task_text {
  text-decoration: line-through solid var(--gray-03) 1px;
}

@media screen and (orientation: landscape) {
  .task_icon:hover {
    color: var(--gray-03);
    cursor: default;
  }
}
