.task_form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.task_edit_icons {
  display: flex;
  gap: 0.1rem;
}

.task_edit_icon {
  width: 1rem;
  color: var(--gray-03);
}

.task_input {
  flex: 1;
  background: var(--gray-01);
  font-family: var(--default-font);
  font-weight: var(--default-regular);
  color: var(--gray-04);
}

.task_input_icon {
  height: 1.1rem;
  font-size: larger;
  color: var(--gray-04);
}

@media screen and (orientation: landscape) {
  .task_edit_icon:hover {
    cursor: not-allowed;
  }

  .task_input:hover {
    cursor: text;
  }

  .task_input_icon:hover {
    color: var(--gray-03);
  }
}
