.create_form {
  width: 100%;
  display: flex;
  gap: 0.25rem;
}

.create_input {
  flex: 1;
  border-bottom: 1px solid var(--gray-03);
  font-family: var(--default-font);
  font-weight: var(--default-regular);
  color: var(--gray-04);
  padding: 0 0.25rem;
}

.create_button {
  font-size: 1.5rem;
  color: var(--gray-04);
}

@media screen and (orientation: landscape) {
  .create_input:hover {
    cursor: text;
  }
}
